body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.background-title {
    position: relative;
    width: 100%;
    height: calc(100% - 88px); /* Background title dengan tinggi 100% - 88px */
}

.loading {
    width: 100vw; /* Lebar gambar loading menyesuaikan lebar layar */
    height: 100vh; /* Tinggi gambar loading menyesuaikan tinggi layar */
    opacity: 1; /* Awalnya tidak terlihat */
    transition: opacity 0.8s ease-in; /* Transisi opacity */
    background-size: contain; /* Ukuran gambar loading menyesuaikan layar */
    background-position: center; /* Gambar loading terpusat */
    background-repeat: no-repeat; /* Tidak mengulang gambar */
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(128, 128, 128, 0.5); /* Warna abu-abu setengah gelap */
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 20, 28), rgba(0, 50, 35));
    background-size: cover;
    background-position: center;
}

.button-container {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px; /* Tambahkan margin atas 2px */
}

.button {
    text-decoration: none;
    padding: 10px 24px; /* Padding untuk ruang di dalam tombol (2px jarak di sumbu Y) */
    background-color: #555;
    color: white;
    border: 2px solid #aaa;
    border-radius: 20px;
    text-align: center; /* Text menjadi center */
    overflow: hidden; /* Untuk membuat efek animasi dari kiri ke kanan */
    position: relative; /* Position relative untuk membuat child element */
    width: 280px; /* Lebar tetap tombol */
    height: 54px; /* Tinggi tetap tombol */
    display: flex; /* Menggunakan flexbox */
    justify-content: center; /* Posisi horizontal tengah */
    align-items: center; /* Posisi vertikal tengah */
    margin-bottom: 10px; /* Tambahkan margin bawah 4px */
    box-shadow: 6px 7px 0px rgba(5, 0, 5, 0.5); /* Tambahkan bayangan dengan offset x = 2, y = -4, dan blur 4px */
}

.button:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.4)
    ); /* Efek progresif dari kiri ke kanan */
    transition: left 1s; /* Animasi transisi */
}

.button:hover:before {
    left: 100%; /* Menggeser dari kiri ke kanan pada hover */
}

.button:hover {
    background-color: #7f7ce3;
    color: #ffffff;
}

.button:active {
    background-color: #5676a3;
    color: #ffffff;
    transition: none;
}

/* Tambahkan CSS untuk fullscreen image */
.fullscreen-image {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
}

#fullscreen-img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

/* Tambahkan CSS untuk tombol close */
.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
}

.close-button:hover {
    color: #ccc;
}
